@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    border: none;
    margin: 0;
    padding: 0;
  }
  body {
    background-color: black;
    font-size: 16px;
    font-family: "JetBrains Mono", monospace;
  }
  main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-image: url(../images/background.jpg); 
    height: 80vh;
  }
  header > h1, footer > h2 {
    text-align: center;
    padding: 20px;
    color: black;
    background-color: rgb(196, 196, 196);
  }
  article {
    width: 320px;
    height: 400px;
    border: 2px;
    border-radius: 6px;
    margin: 70px 30px;
    text-align: left;
    box-shadow: 2px 2px 2px 2px rgb(158, 158, 158);
  }
  article > h2 {
    color: rgb(0, 0, 0);
    padding: 4px 8px;
    font-size: 28px;
    text-align: center;
    margin-top: 20px;
  }
  ul {
    list-style-type: none;
    margin-top: 25px;
  }
  ul li {
    padding: 6px 8px;
    font-size: 15px;
    margin-top: 5px;
    text-transform: uppercase;
  }

  /* To do styling */
.todo_list li:nth-child(odd) {
  background-color: rgba(179, 179, 179, 0.2);
}
.todo_list {
  color: grey;
}

#todo {
  background-color: rgb(245, 250, 179);
}

/* In Progress styling */
.inprogress_list {
  color: grey;
}
#inprogress {
  background-color: rgb(193, 238, 252);
}
.inprogress_list li:nth-child(odd) {
  background-color: rgb(148, 226, 248);
}
.inprogress_list input[type="checkbox"]:checked + span::after {
    content: "\1F504";
    margin-left: 5px;
}
.inprogress_list li:has(input[type="checkbox"]:checked) {
  background-color: #8cd9be;
}

/* Done styling */
.done_list li:nth-child(odd) {
  background-color: rgba(231, 186, 218);
}

.done_list {
  color: grey;
}
#done {
  background-color: rgb(248, 224, 246);
}
.done_list li:nth-child(odd) {
  background-color: #f4dada;
}
input[type="checkbox"]:checked + span::after {
  content: "\2764";
  color: red;
  margin-left: 5px;
}
.done_list li:has(input[type="checkbox"]:checked) {

  background-color: rgb(250, 185, 254);
}

/* Footer */
.decorated-heading::after {
    content: "\1F381";
}